@use "variables" as *;

#messages { 
  //take out "absolute" height of the form
  height:calc(100% - #{$formHeight});
  overflow:auto;
  li { 
    @include flexcenter;
    align-items:center;
    padding: 0.5rem 2rem;
    &:nth-child(odd) { 
      background: $liOddBg;
}}}

.dropdown{
  margin-bottom:0;
  margin-left:auto;
  position:relative;
  &:hover{
  cursor:pointer;
}
  > .options:hover{
    opacity:0.7;
  }
  > .operations {
    position:absolute;
    top:110%;
    left:-1rem;
    width:4;
    height:5rem;
    overflow:auto;
    display:none;
    z-index:999;
  > .delete, .update {
   padding:0.5rem;
  }
  > .delete{background-color:red}
  > .update{background-color:blue}
  }}
