@use "resets";
@use "variables" as *;
//@use "fonts";
@use "messages";
@use "form";

body { 
  color:$bodyC;
  background: $bodyBg;
  font: $fontStack;
  .wrapper {
    @include flexcenter;
    height:100vh;
    overflow:auto;
  }
}

main{
position:relative;
flex-basis:75%;
}

aside{
  h1 { 
   color:$h1Color;
 }
  flex-basis:25%;
  border-right:2px dotted $h1Color;
}

#wantMore {
  position:absolute;
  top:0;
  right:0;
}

